<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Notepads App built with NodeJS, AngularJS, ExpressJS and MongoDB">
        <meta name="author" content="Iliyan Trifonov">
        <!--<link rel="icon" href="/favicon.ico">-->
        <title>Notepads by Iliyan Trifonov</title>

        <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body ng-app="Nodepads">

        <loading-progress ng-cloak></loading-progress>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Nodepads</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <% if (user) { %>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="/notepads/add">Add Notepad</a></li>
                        <% } %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if (user) { %>
                        <li><img src="<%= user.photo %>" /></li>
                        <li><a><%= user.name %></a></li>
                        <li><a href="/logout" target="_self" class="logout">Logout</a></li>
                        <% } else { %>
                        <li><a href="/auth/facebook" target="_self">Login</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid" ng-controller="MainCtrl">
            <div class="alert alert-{{flash.get().type}} flash"
                 ng-bind="flash.get().msg"
                 ng-show="flash.get().msg"></div>

            <div class="row" ng-view></div>

            <div class="row">&nbsp;</div>
        </div>

        <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript">
            (function (angular) {
                'use strict';

                var USER_CONTEXT = {};
                //<% if (user) { %>
                USER_CONTEXT.id = '<%= user.id %>';
                USER_CONTEXT.accessToken = '<%= user.accessToken %>';
                //<% } %>

                angular.module('Notepads.vars', [])
                    .constant('USER_CONTEXT', USER_CONTEXT);
            })(angular);
        </script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/controllers.js"></script>
        <script type="text/javascript" src="/js/services.js"></script>
        <script type="text/javascript" src="/js/directives.js"></script>

    </body>
</html>
