{
  "sessionSecret": "SECRET",
  "facebook": {
    "app": {
      "id": "FACEBOOK_APP_ID",
      "secret": "FACEBOOK_APP_SECRET"
    }
  },
  "apiBase": "/api/v1",
  "mongodb": {
    "uri": "MONGODB_URI"
  },
  "devUrl": "http://localhost:3000/",
  "defaultData": {
    "cats": [],
    "notepads": []
  },
  "testFBUser": {
    "fbId": "",
    "email": "",
    "password": "",
    "fbAccessToken": ""
  }
}
