<div class="col-md-12">

    <div class="page-header">
        <h2>Categories
            <button class="btn btn-primary"
                    ng-click="addCategory()">Add New Category</button>
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <table class="table">
                <tr ng-repeat="category in categories | orderBy: 'name'">
                    <td class="text-left">
                        <span>{{category.name}}<small>({{category.notepadsCount}})</small></span>
                    </td>
                    <td class="text-right">
                        <a type="button" ng-href="#/categories/{{category._id}}/edit"
                           class="btn btn-primary glyphicon glyphicon-edit">Edit</a>
                        <a type="button" ng-href="#/categories/{{category._id}}/delete"
                           class="btn btn-primary glyphicon glyphicon-trash" style="color: red">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
