<div class="col-md-12">

    <div class="page-header">
        <h2>Categories
            <button class="btn btn-primary"
                    ng-click="addCategory()">Add New Category</button>
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class="row" ng-if="categories">
        <div class="col-md-4 col-md-offset-4">
            <table class="table">
                <tr category-item category="category"
                    ng-repeat="category in categories | orderBy: 'name' track by category._id"></tr>
            </table>
        </div>
    </div>

</div>
