<div class="col-md-12">

    <div class="page-header">
        <h2>Cookie Policy for Notepads</h2>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>What Are Cookies</h2><br />
            As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.<br />
            <br />
            For more general information on cookies see the <a href="http://en.wikipedia.org/wiki/HTTP_cookie">Wikipedia article on HTTP Cookies...</a><br />
            <h2>How We Use Cookies</h2><br />
            We use cookies for a variety of reasons detailed below. Unfortunately is most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.<br />
            <h2>Disabling Cookies</h2><br />
            You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies.<br />
            <h2>The Cookies We Set</h2><br />
            If you create an account with us then we will use cookies for the management of the signup process and general administration. These cookies will usually be deleted when you log out however in some cases they may remain afterwards to remember your site preferences when logged out.<br />
            <br />
            We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.<br />
            <br />
            <br />
            <br />
            <br />
            <h2>Third Party Cookies</h2><br />
            In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.<br />
            <br />
            From time to time we test new features and make subtle changes to the way that the site is delivered. When we are still testing new features these cookies may be used to ensure that you receive a consistent experience whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.<br />
            <br />
            We also use social media buttons and/or plugins on this site that allow you to connect with your social network in various ways. For these to work the following social media sites including; Facebook, will set cookies through our site which may be used to enhance your profile on their site or contribute to the data they hold for various purposes outlined in their respective privacy policies.<br />
            <br />
            <br />
            <h2>More Information</h2><br />
            Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. However if you are still looking for more information then you can contact us through one of our preferred contact methods.<br />
            <br />
            <strong>Email:</strong> iliyan.trifonov@gmail.com
        </div>
    </div>

</div>
